body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }   

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    }

tr{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;  
    background-color: white;
    }

.High{
        color: red;
    }
.Medium{
        color: orange;
    }
.Low{
        color: green;
    }