.box{
    width: 350px;
    margin: 21px;
    border: 5px solid navy;
    padding: 11px;
    background-color: cornsilk;
    text-align-last: center;
}

.flexbox-container{
    display: flex;
    gap: 11px;
}

.flexbox-container div{
    border: 2px solid salmon;
    padding: 15px;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 50px;
}

.flexbox-container div:nth-child(1){
    background-color: burlywood;
}

.flexbox-container div:nth-child(2){
    background-color: yellowgreen;
}

.flexbox-container div:nth-child(2){
    background-color: rgb(137, 74, 219);
}
