body{
    font-family: Arial, sans-serif;
    background-color: #c6ddf0;
    margin: 15px;
    padding: 25px;
}

.container  {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #b8c3e9;
    margin-top: 15px;
}

th, td {
    border: 1px solid #aee961;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f1f38f;
    font-family:Arial, Helvetica, sans-serif;
}