body{
    font-family: Arial, sans-serif;
    background-color: #cbf8c9;
    margin: 15px;
    padding: 25px;
}

.container  {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 15px;
    background-color: #312691;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #b8c3e9;
    margin-top: 15px;
}

th, td {
    border: 1px solid #22538b;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #feffbe;
    font-size: 16px;
    color: #222375;
    font-family: Arial, sans-serif;
}

.result-body {
    background-color: #f9f9f9;
    font-family: 'Verdana, sans-serif';
}


/* Highlight employees with low attendance. */
tr.low-attendance,
.low-attendance {
    background-color: #ffe6e6;
    color: #b30000;
}


