body{
    font-family: Arial, sans-serif;
    background-color: #c7d1ee;
}

.card{
    width: 300px;
    margin: 80px auto;
    padding: 15px;
    background-color: #f6fcad;
    border-radius: 10px;
}

input, select, button{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}