body{
    background-color: burlywood;
}

.media {
    display: flex;
}

.media div{
    height: 200px;
    width: 22%;
    background-color: coral;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
}


/* tablet */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        background-color: lightblue;
    }

    .media {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* mobile */
@media (max-width: 600px) {
    body {
        background-color: lightpink;
    }

    .media {
        flex-direction: column;
        align-items: center;
    }
}
